{% extends 'common/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if child.passport %}
            <img src="{{child.passport}}" width="500" height="300" alt="">
            {% else %}
            <img src="{% static 'images/images.png' %}" alt="">
            {% endif %}
            <h2>{{child.name}}</h2>
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="col-md-12 mt-5">
            <div class="card">
                <div class="card-header bg-dark">
                    <h1 class="text-center text-white fw-bold">Child Details</h1>
                </div>
                <div class="card-body">
                    <ul style="list-style-type: circle;">
                        <li>
                            <h5>Name - {{child.name}}</h5>
                        </li>
                        <li>
                            <h5>Age - {{child.dob}}</h5>
                        </li>
                        <li>
                            <h5>Gender - {{child.gender}}</h5>
                        </li>
                        {% if upi_number %}
                        <li>
                            <h5>Birth Certificate Number - {{child.upi_number}}</h5>
                        </li>
                        {% else %}
                        <li>
                            <h5>Birth Certificate Number - Not Available</h5>
                        </li>
                        {% endif %}
                        {% if guardian %}
                        <li>
                            <h5>Guardian - {{child.guardian}}</h5>
                        </li>
                        {% else %}
                        <li>
                            <h5>Guardian - None</h5>
                        </li>
                        {% endif %}
                        <li>
                            <h5>Joined - {{child.joined_at}}</h5>
                        </li>
                    </ul>
                </div>

                <!-- <div type="button" data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                class="card-footer bg-dark">
                    <i class="btn btn-outline-warning">
                        Add Child Reports</i>
                </div> -->

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mt-5">
            <div class="card">
                <div class="card-header bg-dark">
                    <h1 class="text-center text-white fw-bold">Child Reports</h1>
                </div>
                <div class="card-body">

                    <table class="table table-warning table-hover table-striped border">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">url</th>
                                <th scope="col">actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for report in child.reports.all %}
                            <tr>
                                <th scope="row">{{report.id}}</th>
                                <td>{{report.name}}</td>
                                <td>{{report.report}}</td>


                                <td>
                                    <a href="{{report.report}}">
                                        <button class="btn btn-outline-warning">
                                            View file
                                        </button>
                                        </a>
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr class="mt-5">
            <footer>
                <h5 style="text-align: center"> Copyright &copy;
                    <script>document.write(new Date().getFullYear())</script> <b>Zion</b> All Rights Reserved
                </h5>
            </footer>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Report</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="" style="width: 100%;" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form addReportsForm %}
                <br><br><br>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-sm" value="Add Child">
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}